@import "tailwindcss";

.text-container {
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  padding-top: calc(50svh - var(--line-height) * 2);
  padding-bottom: 50svh;
  @variant lg {
    padding-top: var(--page-margin);
    padding-bottom: var(--page-margin);
  }
}
